body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
}
header{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    border: 1px solid red;
}
